
body{
	font-size: 1.5em ;
  font-family: "Fira Sans", "Sans";
  /*font: 1.6em "Source Sans Pro";*/
	margin: 0px;
	background-color: #3355ad;
	color: #dcecff;
}

p {
  margin: 50px 20px;
}

h2 {
  margin: 0px 20px;
  font-size: 1.4em ;
  font-family: "Fira Sans", "Sans";
  font-weight: bold;
}
h3 {
  margin: 0px 20px;
  font-size: 1.3em ;
  font-family: "Fira Sans", "Sans";
  font-weight: bold;
}



#top_box {
  margin: 80px 0;
}

#logo_box {
  margin: 0px auto;
  width: 380px;
}

#topline {
  background-color: #2276ff;
  padding: 30px;
  text-align: center;
  margin: 0 0 80px 0;
}

div.secondline {
  background-color: #2276ff;
  padding: 15px;
  text-align: center;
  margin: 0 0 80px 0;
}


#quickfacts {
  padding: 20px;
  margin: 80px 0;
  background-color: #2b66ff;
}

span.question {
  color: #002e87;
}

#description {
  margin: 20px auto;
  max-width: 740px;
}





div.spacer1 {
  height: 80px;
  margin: 10px;
}

div.spacer2 {
  height: 140px;
  margin: 100px;
}

#footericons {
	height: 30vh;
	background-color: #144889;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pagefooter img {
	width: 10vh;
	padding: 2vh;
}
#cpr {
	height: 20vh;
	background-color: #144889;
	color: #3581af;
	font-size: 16px;
	text-align: center;
}

@media all and (max-width: 630px) {
	#logo_box {
		width: 90%;
	}
	#xol_logo {
		width: 100%;
	}
	#footer_icon_box {
	  margin: 40px auto;
	}
}

a:link {
	color: #39f7ff;
	text-decoration: none;
}
a:visited {
	color: #39f7ff;
	text-decoration: none;
}
a:active {
	color: #39f7ff;
	text-decoration: none;
}
a:hover {
	color: #d2fdff;
	text-decoration: none;
}
